.KD {
 	font-style: normal;
	animation: rainbow 15s linear infinite;
}

.KD span {
	animation: inverseRainbow 15s linear infinite;
}

.SEK {
	font-style: normal;
}

.SEK span {
	animation: o-y 5s linear infinite;
}

.ED {
	font-style: normal;
	animation: b-r 15s linear infinite;
}

.ED span {
	animation: b-g 15s linear infinite;
}

.ED em {
	font-style: normal;
	color: purple;
}

.N {
	font-style: normal;
	color: darkred;
	text-shadow:
    	0 0 7px darkred,
    	0 0 10px darkred,
    	0 0 21px darkred,
    	0 0 42px darkred,
    	0 0 82px darkred,
    	0 0 92px darkred,
    	0 0 102px darkred,
    	0 0 151px darkred;
}

@keyframes rainbow {
	0%, 100% {color: red}
	15% {color: orange}
	30% {color: yellow}
	45% {color: green}
	60% {color: blue}
	75% {color: indigo}
	90% {color: violet}
}

@keyframes inverseRainbow {
	0%, 100% {color: violet}
	15% {color: indigo}
	30% {color: blue}
	45% {color: green}
	60% {color: yellow}
	75% {color: orange}
	90% {color: red}
}

@keyframes y-o {
	0%, 50%, 100% {color: yellow}
	25%, 75% {color: orange}
}

@keyframes o-y {
	0%, 50%, 100% {color: orange}
	25%, 75% {color: yellow}
}

@keyframes b-r {
	0%, 100% {color: black}
	50% {color: red}
}

@keyframes b-g {
	0%, 100% {color: green}
	50% {color: black}
}
