.KD {
 	font-style: normal;
	animation: rainbow 45s ease-in infinite;
}

.KD span {
	animation: inverseRainbow 45s ease-in infinite;
}

@keyframes rainbow {
	0%, 100% {color: red}
	15% {color: orange}
	30% {color: yellow}
	45% {color: green}
	60% {color: blue}
	75% {color: indigo}
	90% {color: violet}
}

@keyframes inverseRainbow {
	0%, 100% {color: violet}
	15% {color: indigo}
	30% {color: blue}
	45% {color: green}
	60% {color: yellow}
	75% {color: orange}
	90% {color: red}
}

.SEK {
	font-style: normal;
	animation: y-o 15s ease-in infinite;
}

.SEK span {
	animation: o-y 15s ease-in infinite;
}

@keyframes y-o {
	0%, 100% {color: yellow}
	50% {color: orange}
}

@keyframes o-y {
	0%, 100% {color: orange}
	50% {color: yellow}
}
