.KD {
 	font-style: normal;
	color: #bc46bc;
}

.KD span {
	color: #00ebff;
}

.SEK {
	font-style: normal;
	animation: y-o 5s linear infinite;
}

.SEK span {
	animation: o-y 5s linear infinite;
}

.ED {
	font-style: normal;
	animation: b-r 10s linear infinite;
}

.ED span {
	animation: b-g 10s linear infinite;
}

.ED em {
	font-style: normal;
	color: purple;
}

.N {
	font-style: normal;
	color: darkred;
	text-shadow:
    	0 0 7px darkred,
    	0 0 10px darkred,
    	0 0 21px darkred,
    	0 0 42px darkred,
    	0 0 82px darkred,
    	0 0 92px darkred,
    	0 0 102px darkred,
    	0 0 151px darkred;
}

.KP {
	font-style: normal;
	background: -webkit-linear-gradient(left, red, #450000);
	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
}

@keyframes y-o {
	0%, 50%, 100% {color: yellow}
	25%, 75% {color: orange}
}

@keyframes o-y {
	0%, 50%, 100% {color: orange}
	25%, 75% {color: yellow}
}

@keyframes b-r {
	0%, 50%, 100% {color: black}
	25%, 75% {color: red}
}

@keyframes b-g {
	0%, 50%, 100% {color: green}
	25%, 75%, {color: black}
}
